@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	align-items: center;
	background: #ccc;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.svg--container {
	height: 124px;
	position: relative;
	width: 124px;
}

.circle {
	height: 124px;
	width: 124px;
}

.circle .background {
	fill: transparent;
	stroke: #1abc2d;
	transition: all 200ms ease;
}

.circle .foreground {
	fill: transparent;
	stroke-dasharray: 377;
	stroke-dashoffset: 377;
	stroke: #ee3737;
	transform-origin: 50% 50%;
	transform: rotate(-270deg);
	transition: all 800ms ease;
}

.circle .line {
	stroke-width: 2;
	stroke: #1abc2d;
	transform-origin: 50% 50%;
	transition: all 500ms ease;
}

.circle .line2 {
	transform: rotate(-90deg);
}

.circle:hover {
	cursor: pointer;
}

.circle:hover .background {
	stroke: transparent;
}

.circle:hover .foreground {
	stroke-dashoffset: 0;
	transform: rotate(-90deg);
}

.circle:hover .line {
	stroke: #ee3737;
}

.circle:hover .line {
	transform: rotate(180deg);
}

.circle:hover .line2 {
	transform: rotate(0);
}
